@import "source.scss";

* {
  all: unset;
}

/* ============================= PROFILE ============================= */
.profile {
  background-color: $PrimaryBg;
  border-radius: 16px;
  padding: 20px;
  font-family: $PrimaryFont;
}

.profile-box {
  background-color: $SecondaryBg;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 12px;
}

.profile-name {
  color: $Text1;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

/* ----- POWER ----- */
.power-item {
  margin-top: 8px;
  min-height: 45px;
}

.power-btn {
  font-size: 24px;
  color: $Text2;
  background-color: $SecondaryBg;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 0 4px;
  min-width: 40px;
  transition: 600ms;
}

.power-btn:hover {
  background-color: $ButtonHoverBg1;
  color: $ButtonHoverFg1;
}

.power-btn:active {
  /* background-color: $ButtonActive1; */
}

/* ============================= DISTRO ============================= */
.distro {
  background-color: $PrimaryBg;
  border-radius: 18px;
  padding: 30px
}

.content-container {
  background-color: transparent;
}

/* -------------- Music --------------*/
.music-container {
  border-radius: 20px;
  background-color: $PrimaryBg;
}

.music-player {
  background-color: $SecondaryBg;
  border-radius: 20px;
  padding: 12px 20px;
  color: $Text3;
  font-size: 11pt;
  /* font-family: $SecondaryFont; */
}

.music-btn {
  color: $ButtonFg;
  padding: 4px 10px;
  transition: 150ms;
  border-radius: 8px;
  &:hover {
    color: $ButtonHoverFg2;
    background-color: $ButtonHoverBg2;
  }
  &:active {
    background-color: $ButtonActive;
  }
}

.prev-btn{
  padding-right: 14px;
  padding-left: 9px;
}

.next-btn{
  padding-right: 13.5px;
}

.music-text {
  color: $Text1;
  font-weight: 500;
  margin: 0 10px;
}

/* Music progress bar */
.music-progress-container {
  padding: 5px 10px;
}

.music-progress-bar {
  min-height: 20px;
  
  trough {
    min-height: 4px;
    min-width: 100px;
    border-radius: 2px;
    background-color: alpha($teritary-surface, 0.5);
  }
  
  highlight {
    min-height: 4px;
    border-radius: 2px;
    /* background: linear-gradient(90deg, #89b4fa, #b4befe); */
    background-color: $primary-accent;
  }
  
  slider {
    min-width: 7px;
    min-height: 7px;
    margin: -1px;
    border-radius: 50%;
    background-color: mix($primary-accent, $secondary-accent, 0.5);
    
    &:hover {
      background-color: $secondary-text;
      min-width: 9px;
      min-height: 9px;
      margin: -4px;
    }
  }
}

.music-time {
  font-size: 10px;
  color: alpha($teritary-text, 0.8);
  padding: 0 5px;
  margin-top: 2px;
  
  .time-elapsed, .time-total {
    font-family: monospace;
  }
}

