@import "/home/rascal/Documents/PUB/Code/Go/Theme-Engine/assets/templates/domain/gtk/function";
@import "/home/rascal/Documents/PUB/Code/Go/Theme-Engine/output/domain/gtk/scss/source/source";

$PrimaryBg:       rgba($layer-crust, 0.999);
$SecondaryBg:     $layer-mantle;

$Text1: $text-primary;
$Text2: $text-secondary;
$Text3: $text-muted;

$ButtonFg: $accent-primary;
$ButtonActive: alpha($accent-secondary, 0.25);

$ButtonHoverBg1: $accent-secondary;
$ButtonHoverBg2: rgba($text-primary, 0.15);

$ButtonHoverFg1: $layer-base;
$ButtonHoverFg2: $accent-primary;

$PrimaryFont: $font-widget;
$SecondaryFont: $font-widget;
