@import "/home/rascal/Documents/PUB/Code/Go/Theme-Engine/output/domain/gtk/scss/source/source";
@import "/home/rascal/Documents/PUB/Code/Go/Theme-Engine/output/domain/gtk/scss/source/function";

$PrimaryBg:       rgba($crust, 0.999);
$SecondaryBg:     $mantle;

$Text1: $primary-text;
$Text2: $secondary-text;
$Text3: $teritary-text;

$ButtonFg: $secondary-accent;
$ButtonActive: alpha($primary-accent, 0.25);

$ButtonHoverBg1: $secondary-accent;
$ButtonHoverBg2: rgba($primary-text, 0.15);

$ButtonHoverFg1: $base;
$ButtonHoverFg2: $primary-accent;

$PrimaryFont: "JetBrainsMono NF";
$SecondaryFont: "Cantarell";
